<%- include ('header') %>
<link rel="stylesheet" href="<%- config.BASEURL %>css/admin.css">
<div class="overlay">
    <div id="loading-img"></div>
</div>

<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forgot Password</label>
     <input id="tab-2" type="radio" name="tab"  class="sign-up"><label for="tab-2"style="display:none;"  class="tab">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
         <form id="postforgot" role="form" method="post">
          <div class="group">
            <label for="user" class="label">Email</label>
            <input class="input" name="email" placeholder="Enter Email" type="email" required>
          </div>
          <div class="group">
            <input type="submit" class="button" value="Forgot Password">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="/admin">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include ('../../partials/scripts') %>
  </body>
</html>
<script>
$(document).ready(function () {
  $("#postforgot").validate({
    rules: {
      email: {
        required: true
      }
    },
    messages: {
      email: {
        required: "Please enter valid email address"
      }
    },
    submitHandler: function (form) {
      var tempform = $('#postforgot');
      var form_data = new FormData(tempform[0]);
      $(".overlay").show();
        $.ajax({
          type: 'POST',
          url: '/admin/forgotPassword',
          dataType: 'json',
          data: form_data,
          contentType:false,
          cache:false,
          processData:false,
          success: function (response) {
          console.log('scsdfdsfsd',response );
            $(".overlay").hide();
            if (response.code == 200) {
              $.toast({
                text: "New Password sent Successfully to your mail",
                heading: 'Success',
                icon: 'success',
                showHideTransition: 'slide',
                allowToastClose: true,
                hideAfter: 5000,
                stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                textAlign: 'left',
                loader: false,
                loaderBg: '#9EC600'
              });
                setTimeout(function () {
                  window.location.href="/admin";
                }, 2000);
            } else {
              $.toast({
                text: response.message,
                heading: 'Error',
                icon: 'error',
                showHideTransition: 'slide',
                allowToastClose: true,
                hideAfter: 5000,
                stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                textAlign: 'left',
                loader: false,
                loaderBg: '#9EC600'
              });
            }
          }
        });
    }
  });
});
</script>


